.App {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {

  text-align: center;
  
  font-size: calc(10px + 2vmin);
  
}


.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
/* for stars color */
.orange{
  color : orange;
}

/* for rating input color  */
.purple{
  color: #800aaa;
}
.rate-container{
  margin-top: 20px;
 border-top: 2px solid purple; 
}
.rate-container .fa-star{
  font-size: 1.4rem;
  cursor: pointer;
}

.movie-item{
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item svg{
  font-size: 1.2rem;
  margin : 16px 5px;
}